<!-- Event page -->
<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
    <script type="text/javascript"> window.event_id = "{{event.id}}"
        $("#eventChart").ready(function(){
            drawResults(event_id);
        });

    </script>

    <!-- <h2 id="eventTitle">{{event.title}}</h2> -->
    <div class="deconstructed">
        {{event.sport}}
        <div>{{event.sport}}</div>
        <div>{{event.sport}}</div>
    </div>
    <h2 id="eventTitle">
        {{ event.title }}
    </h2>

    <div id="eventChartDiv">
        <canvas id="eventChart" style="height: 200px;"></canvas>
    </div>


    <p id="pickFilter">
        Filter by your pick:
        <select id="tablePickFilter">
            <option value="All">All</option>
            {% for option in options %}

                <option value="{{ option.pick }}">{{ option.pick }}</option>

            {% endfor %}
        </select>
    </p>

    <button id="createListing" onclick="createListing({{event.id}})">
        Create A Listing
    </button>

    <div id="createListingPopup" class="hidden">
        <div id="createListingClose" onclick="createListingClose()">
            X
        </div>
        <table>
            <tbody>
                <tr>
                    <td colspan="2">
                        <h2>
                            {{event.title}}
                        </h2>
                        <h8>
                            MAKE A LISTING
                        </h8>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            You bet
                            <select id="pick_selector">
                                {% for option in options %}

                                    <option value="{{ option.id }}" data-best_odds="{{ option.best_odds }}" data-best_odds_amount="{{ option.best_odds_amount }}" data-event_id="{{ event.id }}">{{ option.pick }}</option>

                                {% endfor %}
                            </select>

                            to win.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter Your Odds ($): <input type="number" id="user_odds" value="2" step="0.05" min="1"/>
                    </td>
                    <td>
                        Their Odds on other option to win ($): <input type="number" id="their_odds" value="2" step="0.05" min="1"/>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td id="best_odds">
                        Current best odds offered: XXX
                    </td>
                </tr>
                <tr>
                    <td>
                        Bet Amount: $ 
                        <input type="number" id="amount" value="1" step="1" min="1"/>
                    </td>
                    <td id="return">
                        Return: XXX
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Current Balance: ${{current_user.balance}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox"/><a href="#" style="text-decoration: underline; padding-left: 20px">Terms and Conditions</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="MAKE LISTING" onclick="postListing({{ current_user.id }})"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <div id="event_options">
        {% for option in options %}

            <div>
                {{ option.pick }} to win
            </div>

        {% endfor %}
    </div> -->

    <table id="eventTable" class="sortable">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Their Pick</th>
            <th scope="col">Your Pick</th>
            <th scope="col" id="yourOdds">Your Odds</th>
            <th scope="col">You Bet</th>
            <th scope="col">Return</th>
            <th scope="col">DateTime</th>
            <th scope="col">MATCH</th>
            {% if current_user.username == 'admin' %}
                <th scope="col">Delete</th>
            {% endif %}
          </tr>
        </thead>

        <tbody>
            {% for listing in listings %}
            <tr>
                <td>{{ listing.username }}</td>
                <td>{{listing.option}}</td>
                <td class="yourPick">
                    {% set first = 'True' %}
                    {% for option in listing.other_options %}

                        {{option.pick}}

                        {% if not loop.last %}
                            or
                        {% endif %}

                    {% endfor %}
                </td>
                <td>{{listing.odds}}</td>
                <td>${{listing.match_amount}}</td>
                <td>{{'%.02f' | format(listing.user_return | float)}}</td>
                <td>{{listing.daymonth}}</td>
                <td><a href="#">MATCH</a></td>
                {% if current_user.username == 'admin' %}
                    <td><a href={{ url_for('delete_quiz', title=event.title) }}>DEL</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
