<!-- page for user acc details and results/stats -->

{% extends "base.html" %}

{% block content %}

    <!--
    {% if current_user.username == 'admin' %}
        <p><a href={{ url_for('populate') }}>Populate Database</a></p>
    {% endif %}
    -->

    <div class="user-main">
        <div id="user-image">
            <img src="{{ url_for('static', filename='assets/temp_user.png') }}" alt="User Profile Image">
            <button>Edit Profile</button>
        </div>
        <div id="user-details">
            <h2>{{ current_user.username }}</h2>
            <p>First name: {{ current_user.firstname }}</p>
            <p>Surname: {{ current_user.surname }}</p>
            <p>Date of Birth: {{ current_user.dob }}</p>
            <p>Phone: {{ current_user.phone }}</p>
            <p>Email: {{current_user.email }}</p>
            <p><a href={{ url_for('logout') }}>Logout</a></p>
        </div>
        <div id="user-listings">
            <h5>YOUR CURRENT LISTINGS</h5>
            <table class="sortable listingTable">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Your Pick</th>
                        <th>Your Odds</th>
                        <th>Their Odds</th>
                        <th>You Bet</th>
                        <th>Return</th>
                        <th>Date</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if listings is defined and listings|length > 0 %}
                        {% for listing in listings %}

                            <tr>
                                <td>{{listing.event}}</td>
                                <td>{{listing.pick}}</td>
                                <td>{{listing.listers_odds}}</td>
                                <td>{{listing.odds}}</td>
                                <td>{{listing.amount}}</td>
                                <td>{{'%.02f' | format(listing.user_return | float)}}</td>
                                <td>{{listing.daymonth}}</td>
                                <td><a href="#">DEL</a></td>
                            </tr>

                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="100%">No listings found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div id="user-history">
            <h5>YOUR BET HISTORY</h5>
            <table class="sortable listingTable">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Your Pick</th>
                        <th>Your Odds</th>
                        <th>Their Odds</th>
                        <th>You Bet</th>
                        <th>Return</th>
                        <th>Date</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% if histories is defined and histories|length > 0 %}
                        {% for listing in listings %}

                            <tr>
                                <td>{{listing.event}}</td>
                                <td>{{listing.pick}}</td>
                                <td>{{listing.listers_odds}}</td>
                                <td>{{listing.odds}}</td>
                                <td>{{listing.amount}}</td>
                                <td>{{'%.02f' | format(listing.user_return | float)}}</td>
                                <td>{{listing.daymonth}}</td>
                                <td><a href="#">DEL</a></td>
                            </tr>

                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="100%">No listings found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
